html, body {
  width: 10em;
}

.panel-section-header {
    padding: .1em .5em;
}

.text-section-header {
    font-size: 1em;
}

a {
  margin: 0 .5em;
  display: inline-block;
  text-decoration: none;
  color: grey;
}

a:hover {
  color: black;
}

#actions-list {
    font-size: 2em;
    text-align: justify;
}

#actions-list > a {
    margin: auto;
}

#track-title {
    width: 100%;
}

#track-duration {
    margin: auto;
}

.track-info {
    flex-flow: column;
    margin: .2em;
}
