html, body {
  width: fit-content;
  margin: 0;
  padding: 0;
  display: block;
}

.panel {
    display: flex;
    flex-direction: column;
    width: 15em;
    font-family: sans-serif;
    font-size: small;
}

.panel-section {
    display: flex;
    flex-direction: row;
}

.panel-section-header {
    padding: .1em .5em;
    border-bottom: gray solid 1px;
}

.text-section-header {
    font-size: 1em;
}

a {
  margin: 0 .5em;
  display: inline-block;
  text-decoration: none;
  color: grey;
}

a:hover {
  color: black;
}

#actions-list {
    font-size: 2em;
    text-align: justify;
}

#actions-list > a {
    margin: auto;
}

#track-title {
    width: 100%;
}

#track-duration {
    margin: auto;
}

.track-info {
    flex-flow: column;
    margin: .2em;
}
